.resptest{
  font-size: 60px;
  color: rgb(0, 255, 0);
}

.pc{
  display: block;
  font-size: 30px;
  padding-top: 50px;
}
.tb{
  display: none;
  font-size: 20px;
  padding-top: 30px;
}
.ph{
  display: none;
  padding: 20px;
}


.poscont{
  border: 10px solid #f00;
  width: 35%;
  height: 300px;
  overflow: scroll;
}
.coswrap{
  width: 100%;
  height: auto;
}
.coswrap img{
  width: 100%;
}































.
