@media(max-width: 968px){
  /* ↑の@media(max-widthに注目！) */

  .container{
    width: 80%;
    margin: auto;
  }

  .resptest{
    font-size: 40px;
    color: rgb(110, 255, 255);
  }

  .pc{
    display: none;
  }
  .tb{
    display: block;
  }
  .ph{
    display: none;
  }

  .poscont{
    height: 230px;
  }

  .i2TableWindow{
    overflow-x: scroll;
    width: 100%;
  }

  .HaWrap1{
    overflow: scroll;
  }
  .HaDocs{
    text-align: center;
  }


}

@media(max-width: 720px){
  .poscont{
    height: 150px;
  }

  .i2ttl{
    font-size: 20px;
  }

}

@media(max-width: 478px){
  .resptest{
    font-size: 20px;
    color: rgb(255, 0, 100);
    border: 1px solid #000;
  }

  .pc{
    display: none;
  }
  .tb{
    display: none;
  }
  .ph{
    display: block;
  }



}
