*{
  font-family: serif;
}
table{
  border-collapse: separate;
}

.container{
  width: 970px;
  margin: auto;
}

.i2ttl{
  background-color: #888;
  color: #fff;
  font-size: 28px;
  text-align: center;
  padding: 5px 0;
  margin: 30px 0 20px;
}

.resptest{
  font-size: 60px;
  color: rgb(0, 255, 0);
}

.pc{
  display: block;
  font-size: 30px;
  padding-top: 50px;
}
.tb{
  display: none;
  font-size: 20px;
  padding-top: 30px;
}
.ph{
  display: none;
  padding: 20px;
}


.poscont{
  border: 10px solid #f00;
  width: 35%;
  height: 300px;
  overflow: scroll;
}
.coswrap{
  width: 100%;
  height: auto;
}
.coswrap img{
  width: 100%;
}


.i2Table1{
  margin: auto;
  border-spacing: 10px;
  /* ↑cellspadingが効かないときはこれ！ */

  border: 1px solid #000;
}
.i2Table1 td,
.i2Table1 th{
  padding: 10px;
  /* ↑cellpadding="10"の代わりに！ */

  border: 1px solid #000;
}

.HaWrap2{
  width: 500px;
  height: 300px;
  font-size: 28px;
  margin: auto;
  overflow-y: scroll;
  background-color: #000;
  color: #fff;
}
.HaDocs{
  text-align: center;
}




























.
