.px{
  font-size: 18px;
  width: 1028px;
}
.percent{
  width: 100%;
}
.colorName{
  color: red;
}
.rrggbb{
  color: #333333;
}
.rgb{
  color: #333;
}
.rgb{
  color: #333;
}
.rgbakakko{
  color: rgba(0, 0, 0, .5);
}
.redd{
  color: red;
}
.bluee{
  color: blue;
}
.greenn{
  color: green;
}


/* p{
  color: #00f;

  index2-9.html内の
  pタグに対して
  スタイルを指定する
  …という意味になる

  「color」を青に定めている。
  なのでpタグが青に。

  複数スタイルを
  変えることもできる。

  複数変えたいときに備えて
  普段から複数行にして
  しまっているのだ。
  そうら、こんな感じ

  font-size: 18px;
  font-weight: bold;
} */


/*
p{color:blue;}
セレクタ{プロパティ:値;}
変えたいもの{どこを変えたいか:どのように変えるか;）}
 */


/* cssは、HTMLに
スタイルを使い分けることで、
読みやすくできる。

加えて、スタイルのファイルと
文書ファイルを分けることで
管理も楽になる。
文書と見た目を分割できる。

EX:
複数html文書に、
同じCSSファイルを読み込むことで
一度に同じスタイルを適用する、

そのファイルを個別の
スタイルファイルとして
カスタマイズできる…
など */
