#title{
  background-color: #333;
  padding: 15px;
  /* 空白を入れたいときに
  paddingが便利。
  marginとも合わせて。 */
  color: #fff;
  /* idにスタイルを設定したいときは
  先頭に「#」を入れておく。 */
}
.bgc1{
  background-color: #f6f5f5;
  /* クラスにスタイルを
  設定したいときには
  先頭に「.」忘れずに！ */
}
p.bgc1{
  /* 「bgc1」かつ「p」
  という意味になる。
  他のpに
  スタイルがかからないので
  便利
  複雑なクラス指定が可能に。
  */
  color: red;
}


/* p{
  color: #00f;

  index2-9.html内の
  pタグに対して
  スタイルを指定する
  …という意味になる

  「color」を青に定めている。
  なのでpタグが青に。

  複数スタイルを
  変えることもできる。

  複数変えたいときに備えて
  普段から複数行にして
  しまっているのだ。
  そうら、こんな感じ

  font-size: 18px;
  font-weight: bold;
} */


/*
p{color:blue;}
セレクタ{プロパティ:値;}
変えたいもの{どこを変えたいか:どのように変えるか;）}
 */


/* cssは、HTMLに
スタイルを使い分けることで、
読みやすくできる。

加えて、スタイルのファイルと
文書ファイルを分けることで
管理も楽になる。
文書と見た目を分割できる。

EX:
複数html文書に、
同じCSSファイルを読み込むことで
一度に同じスタイルを適用する、

そのファイルを個別の
スタイルファイルとして
カスタマイズできる…
など */
